
.body p {
    color: rebeccapurple;
   }

.image img {
    width: 450px;
    height: 450px;
}

.input {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
   }

.inhoud {
    border: 3px;
    border-color: violet;
    border-style: groove;
    border-spacing: 20px;
    background-color: #f5eff5;
    font: 'Arapey';
    font-size: 17px;
}