h4 {
    text-align: center;
    color: rebeccapurple;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.gallery {
    margin: auto;

}

.gallery img {
    width: 380px;
    height: 400px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.gallery {

    float: left;
    width: 400px;
    box-sizing: border-box;
    height: 430px;
    padding: 30px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 85%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


